h1
{color:white;font-family: arial}
body {
  background-color: Black
}
p{
  color:white
;font-family:verdana
}
img{
  background-color: white
}
a{
  color:white
;font-family:verdana
}
div{
	margin-top: 10px;
	margin-left: 20px;
}
